<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72024614423-io9sv88s8tccoi1lqtl1a6lg6u95o8vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72024614423-io9sv88s8tccoi1lqtl1a6lg6u95o8vq</string>
	<key>API_KEY</key>
	<string>AIzaSyBEnF2YyZt0Bdn2MjzcVJGh_9BGaAoEWrM</string>
	<key>GCM_SENDER_ID</key>
	<string>72024614423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yyokii.ReadingList</string>
	<key>PROJECT_ID</key>
	<string>readinglistapp-d0def</string>
	<key>STORAGE_BUCKET</key>
	<string>readinglistapp-d0def.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72024614423:ios:a345cb5b6b2295ba</string>
	<key>DATABASE_URL</key>
	<string>https://readinglistapp-d0def.firebaseio.com</string>
</dict>
</plist>